.sideBar
{
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top:71px;
    bottom: 0px;

    width: 325px;

    background-color: rgb(13, 16, 23);

    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(72, 76, 80, 0.799);

    display: flex;
    flex-direction: column;

}
.side-top
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    
    color: white;
    font-size: 14px;

    width: 284px;

    margin-left: 20px;
    margin-top: 43px;
}
.side-top button
{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    column-gap: 5px;

    padding: 6px 10px;

    background-color: rgb(31, 111, 234);
    color: white;

    border-style: none;
    border-radius: 6px;

    font-size: 12px;
    cursor: pointer;

    transition: all 0.1s;
}
.side-top button:hover
{
    background-color: rgb(53, 128, 239);
}
.side-top button img
{
    height: 18px;
}

.side-search
{
    margin-top: 10px;
    margin-left:20px;

    height: 28px;
    width: 280px;

    background-color: rgb(22, 27, 33);
    border-style: solid;
    border-color: rgb(63, 64, 69);
    border-width: 0.6px;
    border-radius: 6px;

}
.side-search::placeholder
{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(187, 198, 215);
    text-align: left;
}
.side-detail
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 12px;

    margin-top: 20px;
    margin-left: 20px;
}
.det-things
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    column-gap: 10px;

    color: white;
    font-size: 13px;
    font-weight: 100;
}
.det-things img
{
    height: 17px;
    border-radius: 10px;
}
.showMore
{
    margin-top: 17px;
    margin-left: 20px;

    color:rgb(143, 152, 165) ;

    font-size: 12px;

    cursor: pointer;

    transition: all 0.05s;
}
.showMore:hover
{
    color:rgb(60, 125, 216) ;
}

.det_name
{
    position: relative;
    cursor: pointer;
}
.det_name:hover
{
    text-decoration: underline;
}
.det_name:hover .rep_per
{
    opacity: 1;
}

.rep_per
{
    cursor:default;

    position: absolute;
    bottom: 31px;
    left: 25px;

    background-color: rgb(26, 29, 38);

    border-style: solid;
    border-width: 1px;
    border-color:rgba(72, 76, 80, 0.799);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 15px;
    
    white-space: nowrap;
    pointer-events: none;

    width: 350px;

    padding-bottom: 10px;

    opacity: 0;

    transition: opacity 0.5s;
}
.per_det
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    column-gap: 5px;

    margin-left: 15px;
    margin-top: 10px;

}
.per_det img{
    border-radius: 0px;
}
.det_rep_name
{
    padding-left: 5px;
}
.det_stat
{
    color: rgb(180, 188, 192);
    font-size: 11px;
    border-color:rgba(179, 195, 203, 0.43);
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: 2px 5px;
}
.rep_bio
{
    margin-left: 15px;
    color: rgb(180, 188, 192);
    font-size: 12px;

}
.rep_method
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    font-size: 11.5px;
    color: rgb(180, 188, 192);
    
    margin-left: 15px;

}

.shape_cr,.shape_cr_1 ,.shape_cr_2 , .shape_cr_3
{
    width: 12.5px;
    height: 12.5px;
    border-radius: 10px;

    background-color: rgb(89, 46, 129);
    margin-bottom: 2px;
}
.shape_cr_1{background-color: rgb(151, 42, 98);}
.shape_cr_2{background-color: rgb(200, 86, 33);}
.shape_cr_3{background-color: rgb(243, 223, 36);}

.lang
{
    padding-left: 3px;
    padding-right: 15px;
}
.shap_star
{
    padding-right: 2px;
}
.shap_star img
{
    height: 14px;
}
